* {
    margin: 0;
    padding: 0;
}

/*-------------------------------------------- Encabezado----------------------------------------------------- */

header {
    width: 100%;
    background: #00a5a7;
    padding-bottom: 1px;
}

.menu_web {
    display: flex;
}

header h1 {
    font-family: 'Boogaloo';
    font-size: 40px;
}

header .menu_web #logo_web {
    margin-top: 30px;
    margin-left: 40px;
}

#logo_web {
    pointer-events: all;
}

.logo {
    height: 112px;
    width: 112px;
}

header .menu_web #titulo_web {
    margin: auto;
    margin-top: 15px;
    background: #fff;
    padding: 3px 100px;
    border-radius: 22px;
}

header .menu_web #inicio_sesion {
    background: #00ee95;
    margin: 10px;
    margin-right: 40px;
    margin-bottom: 100px;
    padding: 10px 10px;
    border-radius: 10px;

}

header .menu_web #inicio_sesion a {
    text-decoration: none;
    font-family: 'Boogaloo';
    font-size: 20px;
    color: black;
    background: #fff;
}

header .menu_web #inicio_sesion #inicio_se {
    padding: 5px 10px;
    border-radius: 20px;
}

header .menu_web #inicio_sesion #registro {
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 20px;
}

header nav {
    width: 90%;
    margin: 20px auto;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow: hidden;
    list-style: none;
    background: #00ee95;
    margin: auto 100px;
    margin-top: -80px;
    border-radius: 100px;
}

header nav ul li {
    display: inline-block;
    margin: 10px 15px;
    border-radius: 100px;
    background: #fff;
}

header nav ul li .btn_menu {
    display: none;
}

header nav ul li a {
    color: black;
    font-size: 15px;
    font-family: 'Boogaloo';
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 990px) {
    header nav ul li a {
        font-size: 8px;
    }

    header nav ul li {
        margin: 10px 5px;
    }
}

@media screen and (max-width: 1210px) {
    header nav ul li a {
        font-size: 10px;
    }
}

@media screen and (min-width: 1300px) {
    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (min-width: 1587px) {
    header nav ul li a {
        font-size: 28px;
    }
}

a {
    -webkit-tap-highlight-color: rgb(86, 86, 86, 0.1);
    color: black;
    text-decoration: none;
}

.menu_movil {
    display: none;
}

/*-------------------------------------------- Fin de Encabezado----------------------------------------------------- */

body {
    background-color: #B0FACB;
}

section {
    width: 100%;
}

/*-------------------------------------------- PAGINA INICIO----------------------------------------------------- */

#inicio_section article {
    padding: 10px 40px;
    font-family: Arial;
}

#inicio_section .atajo {
    display: flex;
}

#inicio_section h2 {
    font-family: 'Boogaloo';
    margin-bottom: 10px;
}

@media screen and (max-width: 1210px) {
    #inicio_section h2 {
        font-size: 25px;
    }

    #inicio_section .introduccion {
        margin: 25px 0px;
    }

    #inicio_section .introduccion p {
        font-size: 15px;
    }
}

@media screen and (min-width: 1210px) {
    #inicio_section h2 {
        font-size: 40px;
    }

    #inicio_section .introduccion {
        margin: 50px 0px;
    }

    #inicio_section .introduccion p {
        font-size: 25px;
    }
}

#inicio_section .atajo {
    display: flex;
    background: #00ee95;
}

#inicio_section .atajo div {
    margin: auto;
    font-size: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicio_section .atajo div p {
    font-family: 'Boogaloo';
    position: absolute;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    opacity: 0.9;
    background: #B0FACB;
    border-radius: 20px;
    pointer-events: none;
}

#inicio_section .atajo div a img {
    vertical-align: middle;
    margin: 3px;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

@media screen and (min-width: 1210px) {
    #inicio_section .atajo div a img {
        height: 150px;
        width: 150px;
    }

    #inicio_section .atajo {
        padding: 40px 0px;
    }

    #inicio_section .atajo div p {
        padding: 15px;
        font-size: 25px;

    }
}

@media screen and (min-width: 1587px) {
    #inicio_section .atajo div a img {
        height: 200px;
        width: 200px;
    }

    #inicio_section .atajo div p {
        padding: 26px;
        font-size: 25px;

    }
}

#inicio_section .boletin {
    padding-bottom: 150px;
}

#inicio_section .boletin div {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
}

#inicio_section .boletin div.datos_boletin {
    display: flex;
}

#inicio_section .boletin div.datos_boletin div.mensaje {
    text-align: left;
    margin-left: 0px;
    margin-right: 10px;
}

#inicio_section .boletin form {
    display: flex;
    border-radius: 25px;
    padding-right: 25px;
    background: #00a5a7;
    justify-content: flex-start;

}

#inicio_section .boletin input {
    font-family: 'Boogaloo';
    border-style: none;
    border-radius: 20px;
}

#inicio_section .boletin #enviar {
    margin-left: -60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    background: #00ee95;
}

#inicio_section .boletin #email {
    margin: auto;
    padding: 10px 0px;
    padding-right: 100px;
    padding-left: 5px;
    margin-left: 15px;
}

#email::placeholder {
    text-align: left;
}

@media screen and (max-width: 1210px) {
    #inicio_section .boletin div {
        font-size: 15px;
    }
}

@media screen and (min-width: 1210px) {
    #inicio_section .boletin {
        margin: 50px 0px;
    }

    #inicio_section .boletin div {
        font-size: 25px;
    }

    #inicio_section .boletin #enviar {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -80px;
        font-size: 26px;
        padding: 8px;
    }

    #inicio_section .boletin #email {
        margin: auto;
        padding: 15px 0px;
        padding-right: 200px;
        padding-left: 5px;
        margin-left: 15px;
        font-size: 26px;
    }
}

/*-------------------------------------------- FIN PAGINA INICIO----------------------------------------------------- */

/*-------------------------------------------- INICIO QUIENES SOMOS----------------------------------------------------- */
#qs_section {
    margin: auto;
}

#qs_section article {
    padding: 10px 20px;
    text-align: center;
}

#qs_section h2 {
    font-size: 40px;
    font-family: 'Boogaloo';
    color: #00CE98;
    margin-bottom: 12px;
}

#qs_section p {
    font-family: Arial;
    text-align: center;
    align-items: center;
    margin: 0px 120px;
    font-size: 20px;
}

#qs_section .qs_como_ayudarnos {
    padding-bottom: 200px;
}

/*-------------------------------------------- FIN QUIENES SOMOS----------------------------------------------------- */

/*-------------------------------------------- INICIO APUNTATE----------------------------------------------------- */

#apuntate_section .formulario {
    display: flex;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#apuntate_section .formulario form {
    margin: 40px 0px;
    margin-right: 500px;
    margin-left: 400px;
    padding: 40px;
    border-radius: 70px;
    background: #96F5BC;
}

@media screen and (max-width: 1210px) {
    #apuntate_section .formulario form {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media screen and (min-width: 1500px) {
    #apuntate_section .formulario form {
        margin-right: 600px;
        margin-left: 500px;
    }
}

#apuntate_section .formulario form div {
    text-align: left;
}

#apuntate_section div .nombre_apellido {
    display: flex;
}

#apuntate_section div.bloque_formulario {
    position: relative;
    margin: 5px;
    padding: 12px 0px;
}

#apuntate_section div.bloque_formulario label {
    font-family: 'Boogaloo';
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 0;
}

#apuntate_section div.bloque_formulario input {
    width: 100%;
    border: none;
    font-family: Arial;
    border-radius: 20px;
}

#apuntate_section .terminos {
    font-size: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
}

#apuntate_section .form_mensaje {
    font-family: Arial;
    font-size: 12px;
}

#apuntate_section #enviar {
    font-family: 'Boogaloo';
    font-size: 12px;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    margin: 10px 0px;
}

/*-------------------------------------------- FIN APUNTATE----------------------------------------------------- */
/*-------------------------------------------- INICIO CATALOGO----------------------------------------------------- */

select {
    margin-bottom: 15px;
}

.titulo_catalogo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 400px;
    padding: 20px 0px;
    border-radius: 40px;
    background: #00ee95;
}

.titulo_catalogo h2 {
    margin-left: 100px;
    font-family: 'Boogaloo';
    font-size: 50px;
}

.titulo_catalogo select {
    margin-left: 100px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Boogaloo';
    border-radius: 20px;
    border: none;
    font-size: 16px;

}

.main_catalogo {
    margin: auto;
}

.main_catalogo aside {
    margin: auto;
    float: left;
    margin: 0px 150px;
    padding: 5px 45px;
    padding-bottom: 150px;
    border-radius: 60px;
    background: #00ee95;
}

.main_catalogo aside h3 {
    font-size: 35px;
    font-family: 'Boogaloo';
}

.main_catalogo aside select {
    padding: 10px;
    font-family: 'Boogaloo';
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.titulo_filtro {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padre_objetos {
    position: absolute;
    margin: auto 400px;
    padding-bottom: 300px;
}



.lista_objetos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.objeto {

    text-align: center;
    margin: 20px;
}

.nombre_objeto {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100px;
    margin-top: -40px;
    padding: 10px 10px;
    border-radius: 20px;
    color: black;
    overflow: hidden;
    white-space: initial;
    background-color: white;
}

.img_objeto {
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

.passar_pagina {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media screen and (max-width: 1280px) {

    .titulo_catalogo h2 {
        margin-left: 0px;
        font-family: 'Boogaloo';
        font-size: 40px;
    }

    .titulo_catalogo select {
        margin-left: 100px;
        font-size: 16px;
    }

    .main_catalogo aside {
        margin: auto;
        float: left;
        margin: 0px 100px;
        padding: 5px 45px;
        padding-bottom: 150px;
        border-radius: 60px;
        background: #00ee95;
    }

    .padre_objetos {
        margin: auto 350px;
    }

    .nombre_objeto {
        font-size: 16px;
    }

}

@media screen and (max-width: 1150px) {


    .titulo_catalogo {
        margin: 20px 150px;
        padding: 20px 0px;
    }

    .titulo_catalogo h2 {
        margin-left: 0px;
        font-family: 'Boogaloo';
        font-size: 30px;
    }

    .padre_objetos {
        margin: auto 200px;
        padding-bottom: 300px;
    }

    .lista_objetos {
        position: relative;
    }

    .main_catalogo aside {
        margin: 0px 20px;
        padding: 20px;
        padding-bottom: 120px;
    }

    .passar_pagina {
        font-size: 14px;
    }
}

/*-------------------------------------------- FIN CATALOGO----------------------------------------------------- */


/*-------------------------------------------- INICIO PIE DE PAGINA----------------------------------------------------- */


footer {
    display: flex;
    width: 100%;
    margin: auto;
    background: #00a5a7;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

footer div {
    margin: auto;
}

footer div ul {
    overflow: hidden;
}

footer div ul li h2 {
    text-align: center;
    font-family: 'Boogaloo';
    font-size: 25px;
    background: #fff;
    padding: 2px 30px;
    border-radius: 22px;
}

footer div ul li {
    margin: 5px 2px;
    text-align: center;
    font-size: 18px;
}

footer div ul li a {
    font-family: 'Boogaloo';
    color: black;
    display: block;
    text-decoration: none;
}

footer .logo_inf {
    margin: auto;
}

footer div ul table {
    margin: auto;
}

footer div ul table tr img {
    max-width: 100%;
    height: 30px;
    width: 30px;
}

footer div ul table tr td {
    padding: 1px;
}

.logo_inf_web {
    display: flex;
    margin-top: 5px;
}

.logo_inf {
    display: none;
}

/*-------------------------------------------- FIN PIE DE PAGINA----------------------------------------------------- */





/*-------------------------------------------- INICIO MEDIDAS PARA MOVIL----------------------------------------------------- */


@media screen and (max-width: 820px) {

    .menu_web {
        display: none;
    }

    #logo_web {
        cursor: not-allowed;
        pointer-events: none;
    }

    header nav {
        width: 40%;
        height: 100%;
        top: 0%;
        left: -100%;
        margin: 0;
        position: fixed;
        background: #00ee95;
        z-index: 2;
    }

    header nav ul {
        display: block;
        justify-content: space-between;
        text-align: left;
        overflow: hidden;
        list-style: none;
        border-radius: 0px;
        width: 100%;
        margin: auto;
        margin-top: 0px;
    }

    header nav ul li {
        display: block;
        float: none;
        background: #B0FACB;
    }

    header nav ul li a {
        font-size: 10px;
    }

    header nav ul .li_btn_menu {
        background: none;
    }

    header nav ul li img {
        margin: auto;
    }

    header nav ul li .btn_menu {
        display: block;
        background: none;
    }

    .btn_menu img {
        height: 50px;
        width: 50px;
    }

    .menu_movil {
        display: flex;
        flex-direction: row;
        width: 100%;
        background: #00a5a7;
    }

    .menu_movil div {
        margin: auto;
    }

    .menu_movil #titulo_movil {
        background: #fff;
        padding: 5px 40px;
        border-radius: 22px;
    }

    .logo {
        margin-top: 5px;
        height: 72px;
        width: 72px;
    }

    .menu_movil #titulo_movil h1 {
        font-size: 20px;
    }

    /*-------------------------------------------- FIN ENCABEZADO----------------------------------------------------- */


    /*-------------------------------------------- PAGINA INICIO----------------------------------------------------- */



    #inicio_section article {
        padding: 20px 10px;
    }

    #inicio_section .introduccion p {
        font-size: 12px;
    }

    #inicio_section .atajo div p {
        position: absolute;
        padding: 10px;
        font-size: 10px;
        font-weight: bold;
        opacity: 0.9;
        border-radius: 20px;
    }

    #inicio_section .atajo div a img {
        vertical-align: middle;
        margin: 3px;
        height: 68px;
        width: 68px;
        border-radius: 25px;
    }

    #inicio_section .boletin form {
        padding-left: 12px;
        padding-right: 20px;
    }

    #inicio_section .boletin .mensaje {
        font-size: 12px;
    }

    #inicio_section .boletin #enviar {
        margin-left: -40px;
        font-size: 12px;
        padding: 2px;
        background: #00ee95;
    }

    #inicio_section .boletin #email {
        padding: 3px 0px;
        padding-left: 10px;
        padding-right: 30px;
        margin-left: 0px;
        font-size: 12px;
    }

    /*-------------------------------------------- FIN PAGINA INICIO----------------------------------------------------- */
    /*-------------------------------------------- INICIO QUIENES SOMOS----------------------------------------------------- */


    #qs_section h2 {
        font-size: 25px;
    }

    #qs_section p {
        font-size: 12px;
        margin: 0px 40px;
    }

    #qs_section .qs_como_ayudarnos {
        padding-bottom: 120px;
    }

    /*-------------------------------------------- FIN QUIENES SOMOS----------------------------------------------------- */
    /*-------------------------------------------- INICIO APUNTATE----------------------------------------------------- */


    #apuntate_section .formulario form {
        margin: 40px 0px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 40px;
        border-radius: 70px;
        background: #96F5BC;

    }

    /*-------------------------------------------- FIN APUNTATE----------------------------------------------------- */
    /*-------------------------------------------- INICIO CATALOGO----------------------------------------------------- */

    .titulo_catalogo {

        margin: 20px 50px;
        padding: 5px 0px;
    }

    .titulo_catalogo h2 {
        margin-left: 0px;
        font-family: 'Boogaloo';
        font-size: 20px;
    }

    .titulo_catalogo select {
        margin-left: 10px;
        font-size: 16px;
        margin-top: 20px;
        padding: 2px;
    }

    .padre_objetos {
        padding-bottom: 120px;
    }

    .main_catalogo aside {
        margin: 0px 10px;
        padding: 5px;
        padding-bottom: 120px;
    }

    .main_catalogo aside select {
        font-size: 8px;
        padding: 2px;
    }

    .main_catalogo aside .titulo_filtro {
        font-size: 20px;
    }

    .padre_objetos {
        margin-left: 80px;
        margin-right: 20px;
    }

    .nombre_objeto {
        font-size: 8px;
        padding: 1px 16px;
        width: 30px;
        margin-top: -16px;
        border-radius: 10px;
    }

    .img_objeto {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

    @media screen and (min-width: 700px) {
        .padre_objetos {
            margin: auto 120px;
        }
    }

    /*-------------------------------------------- FIN CATALOGO----------------------------------------------------- */
    /*-------------------------------------------- INICIO PIE DE PAGINA----------------------------------------------------- */

    .logo_inf_web {
        display: none;
    }

    .logo_inf {
        display: flex;
    }

    footer div ul li h2 {
        text-align: center;
        font-size: 12px;
        background: #fff;
        padding: 2px 5px;
        border-radius: 22px;
    }

    footer div ul li {
        margin: 5px 2px;
        text-align: center;
        font-size: 9px;
    }

    footer div ul li a {
        color: black;
        display: block;
        text-decoration: none;
    }

    footer div ul table tr img {
        max-width: 100%;
        height: 15px;
        width: 15px;
    }

    footer .logo_inf {
        margin: auto;
    }

    footer div ul table {
        margin: auto;
    }

    footer div ul table tr td {
        padding: 1px;
    }

    /*-------------------------------------------- FIN PIE DE PAGINA----------------------------------------------------- */


}
